
<h1>Create Restaurant</h1>

<!-- Rails way -->

<%= render "form" %>


<!-- Old way -->

<!-- <form action="/restaurants" method="post">
<!-   <%#= hidden field %> -->
 <!--  <label for="name">name</label>
  <input type="text" name="name"></input>
  <label for="address">address</label>
  <input type="text" name="address"></input>
  <label for="stars">stars</label>
  <input type="text" name="stars"></input>
 <input type="submit" name="create"></input>
</form>
 -->
